.password-revealer {
  position: relative;
}

.password-revealer > input {
  padding-right: 5.3rem;
}

.password-revealer button {
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 3px;
  background-color: var(--secondary);
  color: white;
  width: 5rem;
  display: flex;
  place-items: center;
}

.password-revealer button:hover {
  background-color: var(--primary);
}

@media (prefers-color-scheme: dark) {
  .password-revealer button:hover {
    background-color: var(--accent);
    color: black;
  }
}