:root {
  /* Color styles */
  --primary: oklch(34.85% 0.083 253.27);
  --secondary: oklch(59.67% 0.082 223);
  --tertiary: oklch(82.51% 0.037 236.59);
  --light: white;
  --accent: oklch(84.43% 0.165 90.43);
  --accent-alt: oklch(61.29% 0.18 19.97);
  --text: oklch(32.05% 0.041 246.65);

  /* sizes */
  --border-size: 3px;
  --outline-size: 4px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary);
  cursor: pointer;
  transition: all 0.25s;
  border: var(--border-size) solid transparent;
}

input {
  padding: 0.5rem;
  width: 100%;
  transition: all 0.25s;
  border: var(--border-size) solid var(--tertiary);
}

input:focus-visible {
  outline-offset: -4px;
}

input:hover {
  border-color: var(--accent);
}

*:focus-visible {
  outline: var(--outline-size) solid var(--primary);
}

a:hover {
  color: var(--accent-alt);
}

@media (prefers-color-scheme: dark) {
  *:focus {
    outline: var(--outline-size) solid var(--accent-alt);
  }

  a {
    color: var(--accent);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text);
    background-color: var(--light);
  }

  input {
    border-color: var(--tertiary);
  }
}